

//.....................Project..........................//
*.log
*.bak
Plugins/Developer
//......................................................//


//....................Engine............................//
**/Binaries/*
!**/Binaries/ThirdParty
Intermediate
Build
Content/Paks
DerivedDataCache
LocalDerivedDataCache
Saved
StarterContent
UserEngine.ini
//......................................................//


//...................Visual Studio......................//
.vscode
.vsconfig
*.code-workspace
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
ProjectZero.sln.DotSettings.user
//......................................................//


//....................Wwise.............................//
.cache
*.validationcache
*.wsettings
IncrementalSoundBankData.xml
*.akd
*.prof
.backup
//*.wproj//
//......................................................//

